@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: 'Poppins', sans-serif;
    /* background: #111;
    color: #fff;
    background-blend-mode: darken; */
    /* dark: bg-gray-800; */
}

table {
    border-collapse: collapse;
    width: 50vw;
    margin: 25px 0;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;}